<div class="account-settings-wrapper">
    <div class="account-settings-container">
        <h3>Account Settings</h3>

        <div class="account_name">
            <h4>Change Name</h4>
            <span>Firstname</span>
            <input type="text"><br>

            <span>Lastname</span>
            <input type="text"><br>

            <button>Save</button>
        </div>

        <div class="change_password">
            <h4>Change password</h4>
            <span>Current password</span>
            <input type="text"><br>

            <span>New password</span>
            <input type="text"><br>

            <button>Update</button>
        </div>
        
        <div class="account_contact">
            <h4>Change mobile number</h4>
            <span>Contact</span>
            <input type="number"><br>
            <button>Save</button>
        </div>
        
        <div class="danger-zone">
            <h4>Delete account</h4>
            <button id="deleteAccountBtn">Delete</button>
            <p>Deleting your account will delete all your data please be certain</p>
        </div>

    </div>
</div>