<div class="home-wrapper">
    <div class="home-content" >
        <div class="user-profile-widget" ng-controller="header-controller">
            <img ng-src="{{data.imgUrl}}" alt="">
            <div class="profile-info-container">
                <p id="name">{{data.firstname + " " + data.lastname}}</p>
                <p id="email">{{data.email}}</p>
            </div>
           
            <div class="profile-stats">
                <ul class="stats">
                    <span>
                        <li>1</li>
                        Status
                    </span> 

                    <span>
                        <li>1</li>
                        Followers
                    </span> 

                    <span>
                    <li>1</li>
                        Following
                    </span> 
                </ul>

            </div>
        </div>

        <div class="user-activity-feed">
                <div class="user-post">
                    <div class="post-food" ng-click="dropdown();">
                        <p>Post Food</p>
                    </div>
                </div>
                
                <div class="post-modal" ng-if="showDropdown">
                    <div class="post-content">
                        <div class="food-image">
                                <h3>Upload food images</h3>
                                <input type="file" accept="" id="file" name="file" multiple ng-files="getTheFiles($files)" ng-submit="uploadFoodGallery()">
                        </div>
                        <div class="image-uploaded">image</div>

                          <div class="food-info" ng-controller="post-controller">
                              <form id="foodForm" ng-submit="foodPost()">
                                    <input id="fd-name" type="text" placeholder="Food Title" ng-model="post.foodName"><br>
                                    <textarea id="fd-desc" type="text" placeholder="Description" ng-model="post.foodDescription"></textarea><br>
                                    <input id="fd-price" type="text" placeholder="Price" value="0" ng-model="post.foodPrice">
                                    
                                    <select id="fd-currency" ng-model="post.currency">
                                        <option value="php">PHP</option>
                                        <option value="usd">USD</option>
                                    </select> <br>
                                    
                                    <ul>
                                        <li>
                                            <h3>Availability</h3>
                                            <label class="switch">
                                                <input type="checkbox" ng-model="post.foodAvailability">
                                                <span class="slider round"></span>
                                            </label>
                                        </li>

                                        <li>
                                            <h3>Delivery fee: </h3>
                                            <input id="deliveryBox" type="text" value="0" ng-model="post.deliveryFee">
                                           
                                        </li>
                                    </ul>
                                    
                                    <input id="fd-add1" type="text" placeholder="Address line 1" ng-model="post.addressLine1">
                                    <input id="fd-add2" type="text" placeholder="Address line 2" ng-model="post.addressLine2">
                                    <p>Edit address or use your profile address</p>

                                    <input id="cancelBtn" type="submit" value="Cancel" ng-click="dropdown();">
                                    <input id="postBtn" type="submit" value="Post" >
                              </form>
                            
                          </div>
                    </div>
                </div>

                <div class="post-feed" ng-controller="feed-controller">
                        <div class="feed" ng-repeat="data in feed">
                                <div class="foodList">
                                    <div class="foodCardHeader">
                                       <span id="imgTag"><img ng-src="{{data.profile_image}}" alt="" style="width:30px;"></span>
                                       <span id="nameTag"><a href="#!profile/{{data.firstname}}">{{data.firstname + " " + data.lastname}}</a></span>
                                       <span>
                                            <form>
                                                <input type="submit" value="Report" id="reportBtn">
                                            </form>
                                            
                                        </span>
                                    </div>

                                    <div class="foodWrapper">
                                       <span><img id="foodImg" src="././contents/assets/Resource/images/icons/pork-adobo-recipe-320.jpg" alt="" style="width:100px;"></span>
                                       <span id="foodName">{{data.food_name }}</span>

                                       <div class="food-detail">
                                            <div id="price">{{data.currency | uppercase}}.<span>{{data.food_price}}</span></div>
                                            <p id="delivery">Delivery fee: {{data.currency  + "." + data.delivery_type | uppercase}}</p>
                                            <p id="contact">Contact: {{data.contact}}</p>
                                            <button id="viewBtn">View</button>
                                        </div>
                                     
                                       
                                    </div>
                                </div>
                        </div>
                </div>
        </div>

    </div>
</div>