<div class="home-wrapper">
    <div class="home-content" >
        <div class="user-profile-widget" ng-controller="header-controller" >
                <img id="userimgCard" ng-src="{{data.imgUrl}}" alt="">
                <div class="profile-info-container">
                        <p id="name">{{data.firstname + " " + data.lastname}}</p>
                        <p id="email">{{data.email}}</p>
                </div>
                <br/><br/><br/>
                <div class="profile-stats">
                   <span><p class="statsCard">Starter</p><p>Status</p>
                   </span><span><p class="statsCard">{{profileCard.follower}}</p><p>Followers</p>
                   </span><span><p class="statsCard">{{profileCard.following}}</p><p>Following</p></span>
                </div>
        </div>

         

        <div class="user-activity-feed" ng-controller="post-controller">
                <div class="user-post">
                    <div class="post-food" ng-click="PostModal();">
                        <p>Post Food</p>
                    </div>
                </div>
                
                <div class="post-modal" ng-if="showPost">
                    <div class="post-content">
                            <div class="errorMsg">{{data.message}}</div>
                            <h2 class="post-header">Start sharing food</h2>
                            <p class="post-note">Note: Food related post only or your post will be reported and removed.</p>
                          
                            <div class="food-info" ng-if="card[0]">

                                   <div class="post-sub-container">
                                       <input id="fd-name" type="text" placeholder="Food Title" ng-model="post.foodName"><br>
                                       <textarea id="fd-desc" type="text" placeholder="Description" ng-model="post.foodDescription"></textarea><br>
                                       <input id="fd-price" type="text" placeholder="Price" value="0" ng-model="post.foodPrice">
                                       
                                       <select id="fd-currency" ng-model="post.currency">
                                           <option value="php">PHP</option>
                                           <option value="usd">USD</option>
                                       </select> <br>
                                   </div>
                                   
                                   <div class="post-sub2-container">
                                    <ul>
            
                                        <li>
                                            <h3>Availability</h3>
                                            <label class="switch">
                                                <input type="checkbox" ng-model="post.foodAvailability">
                                                <span class="slider round"></span>
                                            </label>
                                        </li>
                    
                                        <li>
                                            <h3>Delivery fee: </h3>
                                            <input id="deliveryBox" type="text" value="0" ng-model="post.deliveryFee">
                                        </li>
                                    </ul>
                                   </div>
                                   
                                    <div class="post-sub3-container">
                                        <input id="fd-add1" type="text" placeholder="Address line 1" ng-model="post.addressLine1">
                                        <input id="fd-add2" type="text" placeholder="Address line 2" ng-model="post.addressLine2">
                                        <p>Edit address or use your profile address</p>
    
                                        <input id="cancelBtn" type="submit" value="Cancel" ng-click="PostModal();">
                                        <input id="nextBtn" type="button" value="Next" ng-click='foodPost();'>
                                    </div>
                          </div>

                          <div class="imagePostCard" ng-if="card[1]" ng-controller="upload-controller">
                                <div class="food-image">
                                        <h3>Upload food images</h3>
                                        <input type='file' name="file" onchange="angular.element(this).scope().imageUpload(event)" ng-file='uploadfiles'>
                                </div>
                                        <div class="image-uploaded" ng-repeat="step in stepsModel">
                                        <img ng-src="{{step}}" alt="">
                                </div>
                                <input id="postBtn" type="button" value="Post" ng-click='uploadFoodGallery();'>
                          </div>
                          
                    </div>
                </div>

                <div class="post-feed" ng-controller="feed-controller">
                        <div class="feed" ng-repeat="data in feed">
                                <div class="foodList">
                                    <div class="foodCardHeader">
                                       <span id="imgTag"><img ng-src="{{data.profile_image}}" alt="" style="width:30px;"></span>
                                       <span id="nameTag"><a href="#!profile/{{data.firstname}}/{{data.user_id}}">{{data.firstname + " " + data.lastname}}</a></span>
                                       <span>
                                            <form>
                                                <input type="submit" value="Report" id="reportBtn">
                                            </form>
                                        </span>
                                    </div>

                                    <div class="foodWrapper">
                                       <span><img id="foodImg" ng-src="{{data.image_link}}" alt="" style="width:100px;"></span>
                                       <span id="foodName">{{data.food_name}}</span>

                                       <div class="food-detail">
                                            <div id="price">{{data.currency | uppercase}}.<span>{{data.food_price}}</span></div>
                                            <p id="delivery">Delivery fee: {{data.currency  + "." + data.delivery_type | uppercase}}</p>
                                            <!--<p id="contact">Contact: {{data.contact}}</p>-->
                                            <button id="viewBtn" ng-click='viewFood(data)'>View</button>
                                        </div>
                                    </div>
                                </div>
                        </div>

                         <!--VIEW FOOD MODAL-->
                    <div class="view-food-modal" ng-if="foodModal" ng-controller="order-controller">
                            <div class="orderError" ng-if="error">
                                <p>{{orderCallBack.message}}</p>
                            </div>
                        <div class="view-food-container">
                            <span class="food-modal-close" ng-click="foodModalOn();">&times;</span>
                            <div class="viewedFoodImage">
                                <img ng-src="{{viewedFood.image_link}}" alt="">
                            </div>
                            <div class="viewedFoodDetails">
                                <h3>{{viewedFood.food_name}}</h3>
                                <div class="post-time">{{viewedFood.post_date}}</div>
                                <div class="descriptionWrapper">
                                    <p>{{viewedFood.food_description}}</p>
                                </div>
                            </div>
                            <div class="FoodCardButton">
                                <table>
                                    <td id="foodContact"><img src="./contents/assets/resource/images/icons/icons8-phone-100.png">{{viewedFood.contact}}</td>
                                    <td id="foodPrice"><img src="./contents/assets/resource/images/icons/icons8-price-30.png" alt="">{{viewedFood.currency | uppercase}}.{{viewedFood.food_price}}</td>
                                    <td id="foodDelivery"><img src="./contents/assets/resource/images/icons/icons8-deliver-food-96.png" alt="">{{viewedFood.currency | uppercase}}.{{viewedFood.delivery_type}}</td>
                                    <td id="foodOrder"><button ng-click="orderRequest()">ORDER</button></td>
                                </table>
                            </div>

                            <div class="locationDetails">
                                <h2>Address/Location</h2>
                                <span>Vendor address: {{viewedFood.addressLine1 + " " + viewedFood.addressLine2}}</span>
                            </div>
                          
                        </div>
                    </div>

                </div>
        </div>

    </div>
</div>