<div class="page-wrapper">
    <div class="form-banner">
            <div class="s-in-out-toggler">
                    <div class="toggle-btn" id="sign-up-toggle" ng-click="showSignUp = true">SIGN UP
                    </div><div class="toggle-btn" id="log-in-toggle" ng-click="showSignIn = true">LOGIN</div>
            </div>
        <div class="signup">
            <form ng-show="showSignUp">
                <input class="sign-up-input" type="text" placeholder="Firstname"><br>
                <input class="sign-up-input" type="text" placeholder="Lastname"><br>
                <input class="sign-up-input" type="text" placeholder="Email"><br>
                <input class="sign-up-input" type="password" placeholder="Password"><br>
                <input class="sign-up-input" type="text" placeholder="Contact"><br><br>
                <input id="sign-up-btn" type="submit" value="Sign Up">
            </form>
        </div>

        <div class="signin" ng-controller="login-controller">
                <div class="error-call" ng-if="showError">
                    <p>{{error.message}}</p>
                </div>
                <form ng-show="showSignIn" ng-submit="submitLoginForm()">
                    <h3>Email address</h3>
                    <input class="sign-in-input" type="text" ng-model="user.email"><br>
                    <br>
                    <h3>Password</h3>
                    <input class="sign-in-input" type="password" ng-model="user.password"><br><br>
                    <input type="submit" id="sign-in-btn" value="Log in">
                </form>
                <div class="sign-in-out-footer"><p><a href="#">Forgot password?</a></p></div>
        </div>
        <div class="sign-in-out-footer"><p>By proceeding, you agree to our <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</p></div>
    </div>
</div>

<div class="img-banner" style="background-image: url(contents/assets/Resource/Images/we-resouce-img/background_img.jpg)">
        <!--<img src="contents/assets/Resource/images/web-resource-img/background_cropped.jpg" alt="">-->
</div>