<div class="profile-wrapper">
    <div class="profile-content">
       <div class="user-profile-head">
          <img ng-src="/contents/assets/Resource/images/icons/profile_image.jpg" alt=""style="width: 100%;">
           <div class="user-info" ng-repeat="user in profile">
                <h3 class="name">{{user.firstname + " " + user.lastname}}</h3>
                <h4 class="email">{{user.email}}</h3>
                    <div class="user-bio" ng-repeat="info in bio">
                            {{info}}
                    </div>
        </div>
    </div>

    <div class="user-activity">
        <div class="activity-header">
                <div class="widgets">
                        <span>Post
                        </span><span ng-click="user_info_filter('overview')">Overview
                        </span><span ng-click="user_info_filter('address')">Address</span>
                        <div class="edit-icon">
                            <p>Edit profile</p>
                        </div>        
                </div>
        </div>
        <div class="profile-post">
                <h3>Taeng malaki binebenta</h3>
        </div>
    </div>
    </div>
</div>