<div class="profile-wrapper">
    <div class="profile-content">
       <div class="user-profile-head" ng-repeat="user in profile">
            
            <div class="updateProfileImageModal" ng-if="showProfileImageModal" ng-controller="upload-controller">
                <div class="updateImageButton">
                        <span class="modal-p-close" ng-click="profileImageModal()">&times;</span>

                        <div class="loadImg" ng-repeat="step in stepsModel">
                            <div class="loadingIndicator" ng-if="loading" >
                                <img src="./contents/assets/Resource/images/icons/Rolling-1s-200px.gif" alt="">
                            </div> 
                            <img id="imgPreview" ng-src="{{step}}" alt="">
                        </div>
                        <h3>Update profile image</h3>
                        <input type="file" id="file" onchange="angular.element(this).scope().imageUpload(event)" ng-file="uploadfiles">
                        <input type="button" value="Upload" id="upload" ng-click="upload()">
                        <p ng-if="showResponse">{{ response.message }}</p>
                </div>
            </div>
         
            <div class="profile-image-container">
                <img ng-src="{{user.profile_image || tmpImg}}" style="width: 100%;">
                <div class="updateProfileImgBtn" ng-if="showUpdateProfileImageBtn" ng-click="profileImageModal()">
                    <h3>Update</h3>
                </div>
            </div>
            
            
            
           <div class="user-info">
                <h3 class="name">{{user.firstname + " " + user.lastname}}</h3>
                <h4 class="email">{{user.email}}</h3>
                    <div class="user-bio">
                            <div class="bio">
                                {{user.bio}}
                            </div>
                            <div class="info-icons">
                                <span>
                                    <img src="./contents/assets/Resource/images/icons/icons8-marker-50.png" alt="">
                                    {{user.addressLine1 +" "+ user.addressLine2 + " " + user.zipCode}}
                                </span>

                                <span>
                                    <img src="./contents/assets/Resource/images/icons/icons8-mobile-48.png" alt="">
                                    {{user.contact}}
                                </span>

                                <span>
                                    <img src="./contents/assets/Resource/images/icons/icons8-party-balloon-40.png" alt="">
                                    {{user.birthdate + " - " + user.age + " years old"}}
                                </span>

                                <span>
                                    <img src="./contents/assets/Resource/images/icons/icons8-new-job-40.png" alt="">
                                    {{user.occupation}}
                                </span>

                                <span>
                                    <img src="./contents/assets/Resource/images/icons/icons8-country-500.png" alt="">
                                    {{user.country}}
                                </span>
                            </div>
                    </div>
                    <div class="edit-btn" ng-click="modal()" ng-if="show_profile_update()">
                        Update profile
                    </div>
                    <div class="follow-btn" ng-if="showFollow" ng-click="followUser();">
                        {{followStatus.Status}}
                    </div>
        </div>
    </div>

    <div class="user-activity">
        <div class="activity-header">
                <div class="widgets">
                       <span>
                           <div class="status">Starter</div>
                           Status
                       </span><span>
                           <div class="status">0</div>
                           Followers
                       </span><span>
                           <div class="status">0</div>
                           Following
                       </span><span>
                            <div class="status">0</div>
                            <div>Food request</div>
                       </span>
                </div>
        </div>
        <div class="profile-post">
                <h3>Posts</h3>
        </div>
    </div>
    </div>

    <div class="update_profile" ng-if="showModal">
        <div class="modal_content">
            <span class="modal-p-close" ng-click="modal()">&times;</span>
             <h2>Update profile</h2>
            
             <form ng-submit="updateProfile()">
                
                 <textarea required cols="63" rows="5"  placeholder="Tell something about yourself" ng-model="user.bio"></textarea>
                 <input class="update_input" type="text" required placeholder="Birthdate" ng-model="user.birthdate">
                 <input class="update_input" type="number" required placeholder="Age" ng-model="user.age">
                 <input required class="update_input" type="text"  placeholder="Address line 1" ng-model="user.addressLine1">
                 <input required class="update_input" type="text"  placeholder="Address line 2" ng-model="user.addressLine2">
                 <input required class="update_input" type="text"  placeholder="Occupation" ng-model="user.occupation">
                 <input required class="update_input" type="text"  placeholder="Country" ng-model="user.country" >
                 <input required class="update_input" type="number"  placeholder="Zip Code" ng-model="user.zipCode">

                  
                 <select required name="gender" id="gender" ng-model="user.gender">
                        <option value="" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                 </select><br>
   
                 <input class="update_profile_btn" type="submit" value="Update profile">
             </form>
        </div>
    </div>
</div>