<div class="header-wrapper">
    <div class="header-container">
        <div class="logo-container">
            <h1>FleeFood</h1>
        </div>

        <div class="header-content" ng-if="showHeaderNav" ng-controller="notifications-controller">
            <span><a href="#!home">Home</a></span>
            <span><a href="#!notification" ng-click="viewNotification()">Notification<span id="notifCount" ng-if="showCountIcon">{{dataFeed.notificationCount}}</span></a></span>
            <span><a href="#!dashboard/{{data.firstname}}/{{data.id}}">Requests</a></span>
        </div>

        <div class="searchBar">
            <form action="">
                <input id="search-bar" type="text" placeholder="Search food or place">
                <input id="search-button" type="submit" value="Search">
            </form>
        </div>
        
        <div class="user_icon_card" ng-if="showUserHeaderIcon">
          
            <a href="#!dashboard/{{data.firstname}}/{{data.id}}">
                <div class="user_icon">
                    <img ng-src="{{data.imgUrl}}" alt="">
                    <span>{{data.firstname}}</span>
                </div>
            </a>
            <div class="arrow-down" ng-click="dropToggle()"></div>

            <div class="dropdown_content" ng-if="showDropdown">
                <div class="arrow-up"></div>
                <span><a href="#!stalls">Stalls</a></span>
                <span><a href="#!account_settings">Account Settings</a></span>
                <span ng-click="logout()">Logout</span>
            </div>
            
        </div>
    </div>
</div>

