<div class="header-wrapper">
    <div class="header-container">
        <div class="logo-container">
            <h1>FleeFood</h1>
        </div>

        <div class="header-content">
            <span><a href="#!home">Home</a></span>
            <span><a href="#">Notification</a></span>
            <span><a href="#">Requests</a></span>
        </div>

        <div class="searchBar">
            <form action="">
                <input id="search-bar" type="text" placeholder="Search food or place">
                <input id="search-button" type="submit" value="Search">
            </form>
        </div>
        
        <div class="user_icon_dropdown" ng-if="showUserHeaderIcon" ng-repeat="username in name">
          <a href="#!profile/{{username.firstname}}">
            <div class="user_icon" ng-controller="profile-controller">  
                <img src="/contents/assets/Resource/images/icons/profile_image.jpg" alt="">
                <p>{{username.firstname}}</p>
            </div>
          </a>
            <div class="arrow-down" ng-click="dropToggle()"></div>

            <div class="dropdown_content" ng-if="showDropdown">
                <div class="arrow-up"></div>
                <span>Stalls</span>
                <span>Account Settings</span>
                <span ng-click="logout()">Logout</span>
            </div>
        </div>
    </div>
</div>

