.about-wrapper{
    width: 1100px;
    margin: 0 auto;
}

.leftNav{
    float: left;
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    border: 1px solid #ececec;
}

.leftNav ul{
    margin: 0;
    padding: 0;
}

.leftNav ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500px;
    text-align: left;
    text-decoration: none;
    color: #3b8af3;
}

.leftNav li{
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    margin: 15px;
}

.about-content{
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ececec;
}

#privacy-policy h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: crimson;
}

#privacy-policy h2,h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#privacy-policy p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px
}

#privacy-policy a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3b8af3;
    text-decoration: none;
}

#terms-condition h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #e7cd1f;
}

#terms-condition h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#terms-condition p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px
}

#terms-condition a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3b8af3;
    text-decoration: none;
}

#terms-condition ol li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.leftNav li a:hover{
    color: #a1a1a1;
}
