.profile-post h3{
    color: #6d6d6d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.stallSlider{
    background-color: #ffffff;
    border: 1px solid #ececec;
    height: 180px;
}

.stallSlider p{
    color: #6d6d6d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}

.post-container{
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: none;
    border-left: 1px solid #ececec;
    padding: 10px;
    width: 144px;
    float: left;
}

.post-container span{
    vertical-align: top;
}

.postMsg{
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
    color: #6d6d6d;
    text-align: center;
}

#foodImg{
    margin-right: 10px;
    width: 142px;
}

.foodName{
    color: #6d6d6d;
    font-family: Arial, Helvetica, sans-serif;
}


#editBtn{
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    border: none;
    color: #6d6d6d;
    font-weight: bold;
    background-color: #f5f3f3;
    border: 1px solid #cecece;
    outline: none;
}

#trackBtn{
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #ffe228;
    border: 1px solid #ffe228;
    outline: none;
}

.delete_post{
    float: right;
    font-size: 25px;
    font-weight: bolder;
    color: red;
}

#editBtn, #trackBtn, .delete_post:hover{
    cursor: pointer;
}

#followerContainer, #followingContainer{
    margin-top: 20px;
}

.followerCard{
    background-color: #ffffff;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-bottom: 10px;
}

#followerImg{
    float: left;
    margin-right: 10px;
}

.follower-info{
    margin: 10px;
}

.followerName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    margin: 0;
    text-decoration: none;
}

.followerEmail{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:  #57baf3;
    margin: 0;
}


.followingCard{
    background-color: #ffffff;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-bottom: 10px;
}

#followingImg{
    float: left;
    margin-right: 10px;
}

.following-info{
    margin: 10px;
}

.followingName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    margin: 0;
    text-decoration: none;
}

.followingEmail{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:  #57baf3;
    margin: 0;
}

