.feed{
    background-color: #ffffff;
    overflow: hidden;
    width: 500px;
    height: 170px;
    margin: 0 auto;
    border: 1px solid #ececec;
    margin-bottom: 15px;
}

.followingFeed h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8f8f8f;
    text-align: center;
}

.foodCardHeader{
    border-bottom: 1px solid #ececec;
    padding: 10px;
    height: 30px;
}

.foodCardHeader #imgTag{
    float: left;
    margin-right: 10px;
}

.foodCardHeader #reportBtn{
    float: right;
    position: relative;
    top: -30px;
    color: #ffffff;
    border: 2px solid #e72636;
    border-radius: 10px;
    background-color: #e7263699;
    outline: none;
}

#reportBtn:hover{
    cursor: pointer;    
}

.report-modal{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -80px;
}

.report-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.report-content span{
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 10px;
}

.report-content span:hover{
    background-color: #e0e0e0;
}

#nameTag a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #303030;

}

#postDate{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8f8f8f;
    font-size: 12px;
}

.foodWrapper #foodImg{
    float: left;
    margin: 10px;  
}

.foodWrapper #foodName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #303030;
    position: relative;
    top: 10px;
}

#price{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: #44cf62;
    position: relative;
    top: -35px;
    background-color: #ffffff;
}

#price span{
    font-size: 25px;
}

#delivery{
    background-color: #ffe228;
    border: 1px solid #ffe228;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 300px;
    padding: 5px;
    color: #ffffff;
}

#contact{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #57baf3;
    width: 350px;
}

#foodDesc{
    height: 75px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #505050;
}

#viewBtn{
    padding: 10px;
    border: 1px solid #ffe228;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0,#ffe228),
        color-stop(1, #ffe228)
    );
    color: #ffffff;
    outline: none;
    float: right;
    position: relative;
    top: -47px;
    margin-right: 10px;
    
}

#viewBtn:hover{
    cursor: pointer;
}

.feed.ng-enter{
    transition:0.2s linear all;
    opacity:0;
    -webkit-transform: scale(0);
}

.feed.ng-enter-stagger{
    transition-delay: 0.1s;
}
  
  /* The finishing CSS styles for the enter animation */
.feed.ng-enter.ng-enter-active {
    opacity:1;
    -webkit-transform: scale(1);
}

.feed.ng-leave{
    transition:0.2s linear all;
    opacity:1;
}

  /* The finishing CSS styles for the enter animation */
.feed.ng-leave.ng-leave-active {
    opacity:0;
}


