.post-modal{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -80px;
}

.errorMsg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    width: 500px;
    z-index: 2;
    position: fixed;
    top: 30px;
    left: 415px;
    animation-name: enter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

.post-content{
    max-width: 500px;
    height: 550px;
    margin: 0 auto;
    background-color:#ffffff;
    padding: 20px;
    overflow-y: scroll;
}

.post-content::-webkit-scrollbar-track{
    border-radius: 10px;
}

.post-content::-webkit-scrollbar
{
    width: 12px;
    background-color: #f5f5f5;
}

.post-content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #b8b8b86e;
}

.post-header{
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}

.post-note{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #d31d35;
}

.user-post{
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 5px; 
    margin-bottom: 20px;
}

.post-food{
    background-color: #fa2d72;
    width: 120px;
    border-radius: 22px;
}

.post-food p{
    color: #ffffff;
    margin: 10px;
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.post-food, #postBtn, #cancelBtn:hover{
    cursor: pointer;
}

.food-info{
    max-width: 500px;
    margin: 0 auto;
}

.food-info h3{
    font-family: helvetica;
    color: #4d4d4d;
}

.food-info #fd-name, #fd-desc{
    width: 400px;
    padding: 10px;
}

#fd-currency{
    padding: 10px;
}

#fd-desc{
    height: 50px;
}

#fd-price{
    width: 100px;
    padding: 10px;
}

.food-info input,textarea{
    font-family: helvetica;
    font-size: 15px;
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: 0.3px solid #d4d4d4;
    border-left: none;
    margin: 10px;
}


.food-info ul li{
    margin: 20px;
    list-style-type: none;
}

.food-info li{
    display: inline-block;
}

.food-info p{
    font-family: helvetica;
    color: red;
}

.image-uploaded{
    float: left;
    padding: 10px;
}

.image-uploaded img{
    width: 130px;
    height: 130px;
}

.food-image input{
    margin: 15px;       
}

.food-image h3{
    font-family: helvetica;
    color: #4d4d4d;
}

.removeImgBtn{
    float: right;
    position: relative;
    top: -3px;
    left: -20px;
    text-align: center;
    width: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    padding: 5px;
    background-color: #d31d35;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.removeImgBtn:hover{
    cursor: pointer;
}

.uploadErrMsg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: #ffffff;
}

#postBtn{
    width: 150px;
    background-color: #f9fd02;
    border: 1px solid #f9fd02;
    border-radius: 2px;
    color: #ffffff;
    padding: 10px;
    position: relative;
    bottom: -20px;
}

#nextBtn{
    float: right;
    background-color: #f9fd02;
    border: 1px solid #f9fd02;
    border-radius: 2px;
    color: #ffffff;
    padding: 10px;
}

#nextBtn:hover{
    cursor: pointer;
}

#cancelBtn{
    float: right;
    background-color: #cccccc;
    color: #ffffff;
    padding: 10px;
}

/*Slider rounded*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#44d809;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #44d809;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Slider round */

/* Dropdown animation */
.post-modal{
    animation-name: dropdownOpcity;
    animation-duration: 0.3s; 
    animation-delay: ease-in; 

}

@keyframes dropdownOpcity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

@keyframes enter{
    0%{
        top: -10px;
        opacity: 0;
    }

    100%{
        top: 20px;
        opacity: 1;
    }
}