footer{
    background-color: #ffe228;
    color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}