.header-wrapper{
    background-color: #f9fd02;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    position: fixed;
    z-index: 1;
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
}

.logo-container{
    float: left;
    background-color: black;
    position: relative;
    top: -5px;
}

.logo-container h1{
    color: #ffffff;
    margin: 20px;
}

.header-content{
    float: left;
    margin: 20px;
}

.header-content a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bolder;
}

.searchBar{
    margin: 10px;
    width: 400px;
    float: left;
}

#search-bar{
    width: 300px;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 0.9em;
}

#search-button{
    color:  #f9fd02;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background: #ffffff;
}

#search-bar:focus{
    border-top: none;
    border-right: none;
    border-bottom: 0.3px solid #ffffff;
    border-left: none;
}


#search-button:hover{
    cursor: pointer;
}

.user_icon{
    width: 95px;
    float: right;
    margin-top: 6px;
    position: relative;
    left: -130px;
}

.user_icon p{
    display: inline;
    position: relative;
    top: -12px;
    color: #ffffff;
}

.user_icon img{
    width: 32px;
    border: 3px solid #f9fd02;
    border-radius: 5px;
    margin-top: 2px;
}

.arrow-down {
    float: right;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ffffff;
    position: relative;
    left: -20px;
    top: 26px;
  }

  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    float: right;
  }

  .dropdown_content{
      background-color: #ffffff;
      padding: 10px;
      float: right;
      position: relative;
      left: -105px;
      top: -2px;
      box-shadow: 0 2px 5px rgba(54, 54, 54, 0.2); 
  }

  .dropdown_content span{
      display: block;
      margin: 10px;
      padding: 2px;
  }

  .arrow-down:hover{
      cursor: pointer;
  }

  .dropdown_content span:hover{
      cursor: pointer;
  }




