.home-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.home-content{
    padding: 12px;
}

.user-profile-widget{
    background-color: #ffffff;
    border: 1px solid #ececec;
    width: 290px;
    float: left;
}

.user-profile-widget img{
    width: 80px;
    margin: 10px;
    float: left;
}

.profile-info-container{
    margin: 10px;
}

.user-profile-widget p{
    font-family: helvetica;
}

#name{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#email{
    margin: 0;
    color:  #57baf3;
    font-size: 13px;
}

.profile-stats ul{
    list-style-type: none;
}

.profile-stats li{
    display: inline;
}

.user-activity-feed{
    /*background-color: #ffffff;
    border: 1px solid #ececec;*/
    width: 500px;
    margin: 0 auto;
    margin-left: 12px;
    float: left; 
}

.post-modal{
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -80px;
}

.post-content{
    max-width: 500px;
    margin: 0 auto;
    background-color:#ffffff;
    padding: 20px;
    overflow: scroll;
}

.user-post{
    background-color: #ffffff;
    border: 1px solid #ececec;
    padding: 5px; 
    margin-bottom: 20px;
}

.post-food{
    background-color: #fa2d72;
    width: 120px;
    border-radius: 22px;
}

.post-food p{
    color: #ffffff;
    margin: 10px;
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.post-food, #postBtn:hover, #cancelBtn{
    cursor: pointer;
}

.image-uploaded{
    float: left;
    background-color: #d4d4d4;
    padding: 10px;
    width: 70px;
    height: 70px;
}

.food-image input{
    margin: 15px;       
}


.food-image h3{
    font-family: helvetica;
    color: #4d4d4d;
}

.food-info{
    max-width: 450px;
    margin: 0 auto;
}

.food-info h3{
    font-family: helvetica;
    color: #4d4d4d;
}

.food-info #fd-name, #fd-desc{
    width: 400px;
    padding: 10px;
}

#fd-currency{
    padding: 10px;
}

#fd-desc{
    height: 50px;
}

#fd-price{
    width: 100px;
    padding: 10px;
}

.food-info input,textarea{
    font-family: helvetica;
    font-size: 15px;
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: 0.3px solid #d4d4d4;
    border-left: none;
    margin: 10px;
}

.food-info ul{
    position: relative;
    left: -50px;
}

.food-info ul li{
    float: left;
    margin: 20px;
    list-style-type: none;
}

.food-info p{
    font-family: helvetica;
    color: red;
}

#postBtn{
    float: right;
    background-color: #44cf62;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

#cancelBtn{
    float: right;
    background-color: #d31d35;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}



/*Slider rounded*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgb(68, 216, 9);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(68, 216, 9);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Slider round */

/* Dropdown animation */
.post-modal{
    animation-name: dropdownOpcity;
    animation-duration: 0.3s; 
    animation-delay: ease-in; 

}

@keyframes dropdownOpcity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}
