.orderCard{
    background-color: #ffffff;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 20px;
}

#orderImg{
    width: 90px;
    padding: 5px;
}

#orderName{
    font-family: helvetica;
    font-size: 17px;
    position: relative;
    top: -7px;
}

.buyerHeader{
    border-bottom: 1px solid #ececec;
    padding: 5px;
    height: 40px;
}

#buyerImg{
    width: 40px;
    float: left;
    margin-right: 5px;
}

.buyerInfo{
    width: 400px;
    position: relative;
    top: 5px;
}

.buyerInfo a{
    color: #6d6d6d;
    text-decoration: none;
    font-family: helvetica;
    margin-top: 5px;
}

.buyerInfo #buyerNumber{
    position: relative;
    top: -10px;
    font-family: helvetica;
    font-size: 12px;
}


#orderImg{
    float: left;
}

.quantity-container{
    float: right;
    border: 2px solid #44cf62;
    position: relative;
    top: -53px;
}

.qtyHeader{
    font-family: helvetica;
    background-color: #44cf62;
    color: #ffffff;
    padding: 5px;
}

.quantity-container p{
    text-align: center;
    font-family: helvetica;
    padding: 5px;
    margin: 0;
}

.orderFeedPrivacy h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6d6d6d;
}

#acceptBtn, #claimBtn{
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #f9fd02;
    border: 1px solid #f9fd02;
    outline: none;
}

#declineBtn, #cancelBtn{
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    border: none;
    color: #6d6d6d;
    font-weight: bold;
    background-color: #f5f3f3;
    border: 1px solid #cecece;
    outline: none;
}



