.orderCard{
    background-color: #ffffff;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 20px;
}

#orderImg{
    width: 90px;
    padding: 5px;
}

#orderName{
    font-family: helvetica;
    font-size: 17px;
    position: relative;
    top: -7px;
}

.buyerHeader{
    border-bottom: 1px solid #ececec;
    padding: 5px;
    height: 40px;
}

#buyerImg{
    width: 40px;
    float: left;
    margin-right: 5px;
}

.buyerInfo{
    width: 400px;
    position: relative;
    top: 5px;
}

.buyerInfo a{
    color: #6d6d6d;
    text-decoration: none;
    font-family: helvetica;
    margin-top: 5px;
}

.buyerInfo #buyerNumber{
    position: relative;
    top: -10px;
    font-family: helvetica;
    font-size: 12px;
}


#orderImg{
    float: left;
}

.quantity-container{
    float: right;
    border: 2px solid #44cf62;
    position: relative;
    top: -53px;
}

.qtyHeader{
    font-family: helvetica;
    background-color: #44cf62;
    color: #ffffff;
    padding: 5px;
}

.quantity-container p{
    text-align: center;
    font-family: helvetica;
    padding: 5px;
    margin: 0;
}



