.profile-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.profile-content{
    padding: 12px;
}

.user-profile-head{
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 10px;
    width: 300px;
    float: left;
}

.profile-image-container{
   position: relative;
   height: 302px;
   overflow: hidden;
}
.profile-image-container img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-image-container:hover .updateProfileImgBtn{
    display: block;
}
.updateProfileImgBtn{
   display: none;
   background-color: #f9fd02;
   margin: 0;
   padding: 5px;
   position: absolute;
   top: 239px;
   z-index: 3;
   width: 96.7%;
}

.updateProfileImgBtn h3{
    font-size: 15px;
    font-family: helvetica;
    text-align: center;
}


.user-info{
    margin: 10px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    margin: 0; 
}

.email{
    color:  #57baf3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12.5px;
    font-weight: 100;
    margin: 0;
}

.user-activity{
    width: 500px;
    margin: 0 auto;
    margin-left: 12px;
    float: left;
}

.activity-header{
    background-color: #ffffff;
    border: 1px solid #ececec;
}

.user-bio{
    margin-top: 20px;
}

.bio{
    margin-bottom: 20px;
    font-family: helvetica;
    font-weight: 100;
    font-size: 14px;
}


.info-icons span{
    display: block;
    margin-bottom: 7px;
    color: #6d6d6d;
    font-family: Helvetica;
    font-size: 13px;
}

.info-icons img{
    width: 22px;
    margin-right: 5px;
}

.edit-btn{
    text-align: center;
    border: 1px solid  #f9fd02;
    background-color:  #f9fd02;
    border-radius: 5px;
    padding: 5px;
    font-family: helvetica;
    font-weight: bold;
    color: #ffffff;
}

.follow-btn{
    text-align: center;
    border: 1px solid  #44cf62;
    background-color:  #44cf62;
    border-radius: 5px;
    padding: 5px;
    font-family: helvetica;
    font-weight: bold;
    color: #ffffff;
}

.edit-btn, .follow-btn:hover{
    cursor: pointer;
}

.update_profile{
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
}

.modal_content{
    max-width: 500px;
    margin: 0 auto;
    background-color:#ffffff;
    padding: 20px;
}

.modal_content h2{
    font-family: Helvetica;
}

.modal-p-close:hover{
    cursor: pointer;
}

.modal_content form{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.modal-p-close{
    float: right;
    font-size: 30px;
    font-weight: bolder;
    color: #777777;
}

.update_input{
    width: 215px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 5px;
}

.modal_content textarea{
    width: 100%;
    font-family: Helvetica;
    border-radius: 7px;
    outline: none;
}

#gender{
    height: 35px;
    width: 100px;
    border-radius: 3px;
    margin-left: 7px;
}

.update_profile_btn{
    position: relative;
    margin-left: 390px;
    background-color:  #f9fd02;
    border: 1px solid  #f9fd02;
    border-radius: 3px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
}

.update_profile_btn:hover{
    cursor: pointer;
}

.updateProfileImageModal{
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
}

.updateProfileImageModal img{
    width: 64px;
    margin-right: 15px;
    float: left;
}

.updateImageButton{
    max-width: 500px;
    margin: 0 auto;
    background-color:#ffffff;
    padding: 20px;
}

.updateImageButton p{
    background-color: #44cf62;
    color: #ffffff;
    font-family: helvetica;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.updateImageButton h3{
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

.updateProfileImgBtn:hover{
    cursor: pointer;
}

.loadingIndicator{
    position: absolute;
    z-index: 1;
}

#imgPreview{
    position: relative;
    top: -17px;
}

.widgets span{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #6d6d6d;
    padding: 10px;
}

.status{
    color: #44cf62;
    font-size: 20px;
    text-align: center;
}

.widgets span:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

