.view-food-modal{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
}

.orderError{
    max-width: 800px;
    background-color:#ce2626;
    border-radius: 5px;
    animation-name: enter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    margin-top: 10px;
    margin-left: 20%;
    position: fixed;
    z-index: 1;
}

.orderError p{
    color: #ffffff;
    text-align: center;
    font-family: helvetica;
    font-size: 14px;
    padding: 5px;
}

.view-food-container{
    max-width: 960px;
    height: 600px;
    margin: 0 auto;
    background-color:#ffffff;
    position: relative;
    top: -20px;
    animation-name: wobble;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    overflow: scroll;
}

.view-food-container::-webkit-scrollbar-track{
    border-radius: 10px;
}

.view-food-container::-webkit-scrollbar
{
    width: 12px;
    background-color: #f5f5f5;
}

.view-food-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #b8b8b86e;
}

.food-modal-close{
    float: right;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 10px;
    color: #777777;
}

.viewedFoodImage #viewImage{
    width: 300px;
    margin-right: 20px;
}

.leftCard{
    float: left;
}

#paymentNote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    padding: 10px;
}

.viewedFoodImage img{
    width: 30px;
    margin-right: 10px;
}

#foodContact, #foodPrice, #foodDelivery{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 10px;
}

#foodQuantity{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    color: #44cf62;
}

.viewedFoodDetails{
    width: 900px;
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}

.viewedFoodDetails .descriptionWrapper{
    width: 850px;
}

.viewedFoodDetails h3{
    font-family: helvetica;
    margin: 0;
}

.viewedFoodDetails .post-time{
    margin: 0;
    font-family: helvetica;
    font-size: 12px;
}

.viewedFoodDetails .descriptionWrapper p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.foodCardButton{
    width: 300px;
    height: 500px;
    
}

#quantity input{
    width: 50px;
    padding: 10px;
    display: inline-block;
}

#foodOrder button{
    padding: 11px;
    width: 200px;
    background-color:  #ffe228;
    border: 1px solid  #ffe228;
    color: #ffffff;
    outline: none;
}

#foodOrder button, .food-modal-close{
    cursor: pointer;
} 

@keyframes wobble{
    0%{
        -webkit-transform: scale(0.1);
        opacity: 0;
    }

    100%{
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes enter{
    0%{
        top: -10px;
        opacity: 0;
    }

    100%{
        top: 20px;
        opacity: 1;
    }
}

@media only screen and (max-width: 1376px) {
    .view-food-container{
        position: relative;
        top: -70px;
    }
}